/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
h1{
    font-style: oblique;
    font-size: x-large;
    text-align: left;
    "Druidia University"
}
h2{
    font-style: oblique;
    font-size: medium;
    text-align: left;
    "Churning out pushovers and sissies for thousands of years."
}

body{
    color :yellow;
    background-image: url("https://pic.yify-torrent.org/1987/30091/1141caad036740189a5329efe9e730ca.png")
}